*.m4
ChangeLog
m4/ChangeLog
autom4te.cache
autoscan.log
compile
config.guess
config.log
config.status
config.sub
configure
configure.scan
depcomp
.deps/
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
src/config.h
src/config.h.in
*~
*.o
*.pc
tester
.dirstamp
stamp-h1
