[Desktop Entry]
Name=Calibrate Touchscreen
Name[de]=Touchscreen Kalibrieren
Name[nl]=Touchscreen Kalibreren
Comment=Run the calibration tool for touchscreens
Exec=xinput_calibrator
Terminal=true
Type=Application
Icon=xinput_calibrator
StartupNotify=true
Categories=System;Settings;
